{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{{ url_for('user.dashboard') }}" class="back-button" title="Back to Dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Comment</h1>
    <form action="{{ url_for('report.provide_comment', item_id=item_id) }}" method="post">
        <div class="form-group">
            <label for="content">Comment:</label>
            <textarea id="content" name="content" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>

    <section class="comments-section">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-header">
                    <span class="comment-username">{{ comment.user.username }}</span>
                    <span class="comment-timestamp">{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </div>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </div>
        {% else %}
            <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
    </section>
</main>

<style>
     .back-button {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: #bda9b9;
        color: white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .back-button:hover {
        background-color: #a55ea8;
    }

    .back-button svg {
        width: 20px;
        height: 20px;
    }
    
    .comments-section {
        margin-top: 20px;
    }
    .comment {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    .comment-header {
        font-size: 0.9em;
        color: #777;
    }
    .comment-username {
        font-weight: bold;
    }
    .comment-timestamp {
        float: right;
    }
    .comment-content {
        margin-top: 5px;
    }
</style>
{% endblock %}

