{% extends "base.html" %}

{% block content %}
<header>
    <a href="{{ url_for('user.dashboard') }}" class="back-button" title="User Dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h3>Admin </h3>
    <nav>
        <ul>
            <li><a href="{{ url_for('admin.view_lost_reports') }}">Lost Reports</a></li>
            <li><a href="{{ url_for('admin.view_found_reports') }}">Found Reports</a></li>
            <li><a href="{{ url_for('admin.view_claims') }}">Claims</a></li>
            <li><a href="{{ url_for('admin.view_rewards') }}">Rewards</a></li>
            <li><a href="{{ url_for('admin.add_item') }}">Add Item</a></li>
            <li><a href="{{ url_for('admin.list_items') }}">Items</a></li>
            <li><a href="{{ url_for('admin.list_recovered_items') }}">Recovered Items</a></li>
            <li><a href="{{ url_for('admin.list_returned_items') }}">Returned Items</a></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Include the main content or overview for the admin dashboard here -->
</main>
<style>
 main {
        background-color: whitesmoke;
        box-shadow:  none;
    }
</style>
{% endblock %}


