{% extends "base.html" %}

{% block content %}
<header>
    <a href="{{ url_for('report.list_all_found_reports') }}" class="back-button" title="Back to found reports">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Initiate Claim </h1>
</header>
<main>
    <form action="{{ url_for('report.initiate_claim', found_report_id=found_report_id) }}" method="post">
        <div class="form-group">
            <label for="description">What proof do you have that this Item is yours?</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div>
            <button type="submit">Claim</button>
        </div>
    </form>
</main>
<style>

</style>
{% endblock %}

