{% extends "base.html" %}

{% block content %}
<header>
    <h1>Initiate Claim </h1>
</header>
<main>
    <form action="{{ url_for('admin.initiate_claim', found_report_id=found_report_id) }}" method="post">
        <div>
            <label for="description">What proof do you have that this Item is yours?</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <button type="submit">Claim</button>
        </div>
    </form>
</main>
{% endblock %}

