{% extends "base.html" %}

{% block content %}
<header>
    <h1>Recovered Items</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Claimed Status</th>
                <th>Returned Status</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.is_claimed }}</td>
                <td>{{ item.is_returned }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
