{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Found Reports</h1>
    <table>
        <thead>
            <tr>
                <th>What was found</th>
                <th>Description</th>
                <th>Date Found</th>
                <th>Place Found</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for report in found_reports %}
            <tr>
                <td>{{ report.item_name }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.date_found.strftime('%Y-%m-%d') }}</td>
                <td>{{ report.place_found }}</td>
                <td>
                    <a href="{{ url_for('report.initiate_claim', found_report_id=report.id) }}" class="btn">Initiate Claim</a> |
                    <a href="{{ url_for('report.offer_reward', found_report_id=report.id) }}" class="btn">Offer Reward</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}

