{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Lost Reports</h1>
    <table>
        <thead>
            <tr>
                <th>What was lost</th>
                <th>Description</th>
                <th>Date Lost</th>
                <th>Place Lost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for report in lost_reports %}
            <tr>
                <td>{{ report.item_name }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.date_lost.strftime('%Y-%m-%d') }}</td>
                <td>{{ report.place_lost }}</td>
                <td>
                    <a href="{{ url_for('report.provide_comment', item_id=report.item_id) }}" class="btn">Provide Comment</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
