{% extends "base.html" %}

{% block content %}
<header>
    <h1>List of Items</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Returned Status</th>
                <th>Recovered Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.is_returned }}</td>
                <td>{{ item.is_recovered }}</td>
                <td>
                    <a href="{{ url_for('admin.update_item', item_id=item.id) }}" >Update</a>
                    <form action="{{ url_for('admin.delete_item', item_id=item.id) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}

