{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{{ url_for('user.dashboard') }}" class="back-button" title="Back to Dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Lost Reports</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>What was lost</th>
                <th>Description</th>
                <th>Date Lost</th>
                <th>Place Lost</th>
                <th>Contact</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for report in lost_reports %}
            <tr>
                <td>{{ report.user_id }}</td>
                <td>{{ report.item_name }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.date_lost.strftime('%Y-%m-%d') }}</td>
                <td>{{ report.place_lost }}</td>
                <td>{{ report.contact }}</td>
                <td>
                    <a href="{{ url_for('report.provide_comment', item_id=report.item_id) }}" class="btn">Comment</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Controls -->  
    <div class="pagination">  
        {% if lost_reports.has_prev %}  
            <a href="{{ url_for('report.list_all_lost_reports', page=lost_reports.prev_num) }}" class="prev">Previous</a>  
        {% endif %}  
        <span>Page {{ lost_reports.page }} of {{ lost_reports.pages }}</span>  
        {% if lost_reports.has_next %}  
            <a href="{{ url_for('report.list_all_lost_reports', page=lost_reports.next_num) }}" class="next">Next</a>  
        {% endif %}  
    </div>  
</main>
<style>
    .pagination {  
        margin: 1em 0;  
        text-align: center;  
    }  
    .pagination a {  
        margin: 0 5px;  
        text-decoration: none;  
        color: rgb(222, 182, 230);  
    }  
    .pagination span {  
        margin: 0 5px;  
    }   


</style>
{% endblock %}
