{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Lost Item</title>
</head>
<body>
    <h1>Submit Lost Report</h1>
    <form action="{{ url_for('report.report_lost_item') }}" method="post" enctype="multipart/form-data">
        <label for="item_name">What was lost</label>
        <input type="text" id="item_name" name="item_name" required><br><br>
        <label for="item_id">Item ID:</label>
        <input type="text" id="item_id" name="item_id" required><br><br>
        <label for="date_lost">Date Lost (YYYY-MM-DD):</label>
        <input type="text" id="date_found" name="date_found" placeholder="2024-07-02" required>
        <label for="time_lost">Time Lost (HH:MM:SS):</label>
        <input type="text" id="time_found" name="time_found" placeholder="10:08:00" required>
        <label for="place_lost">Place Lost:</label>
        <input type="text" id="place_lost" name="place_lost" required><br><br>
        <label for="contact">Contact Information:</label>
        <input type="text" id="contact" name="contact"><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br><br>
        <label for="primary_color">Primary Color:</label>
        <input type="text" id="primary_color" name="primary_color"><br><br>
        <label for="secondary_color">Secondary Color:</label>
        <input type="text" id="secondary_color" name="secondary_color"><br><br>
        <label for="upload_image">Upload Image:</label>
        <input type="file" id="upload_image" name="upload_image"><br><br>
        <button type="submit">Submit Lost Report</button>
    </form>
</body>
</html>
{% endblock %}
