{% extends "base.html" %}  

{% block content %}  
<style>  
    body {  
        font-family: Arial, sans-serif;  
        background-color: #f9f9f9;  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        height: 100vh;  
        margin: 0;  
    }  

    .container {  
        background-color: white;  
        padding: 40px;  
        border-radius: 8px;  
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
        text-align: center;  
        width: 400px;  
    }  

    h1 {  
        font-size: 24px;  
        margin-bottom: 20px;  
    }  

    p {  
        margin-bottom: 20px;  
        color: #666;  
    }  

    label {  
        display: block;  
        margin-bottom: 8px;  
        text-align: left;  
    }  

    input[type="email"] {  
        width: 100%;  
        padding: 10px;  
        border: 1px solid #ccc;  
        border-radius: 4px;  
        margin-bottom: 20px;  
        font-size: 16px;  
    }  

    input[type="submit"] {  
        background-color: #ba79bd;  
        color: white;  
        border: none;  
        padding: 10px;  
        border-radius: 4px; 
        margin-bottom: 20px; 
        align-items: center;
        cursor: pointer;  
        font-size: 16px;  
        width: 100%;  
    }  

    input[type="submit"]:hover {  
        background-color: #a55ea8;  
    }  

    a {  
        display: block;  
        margin-top: 20px;  
        color: #007bff;  
        text-decoration: none;  
    }  

    a:hover {  
        text-decoration: underline;  
    } 
    main {
        background-color: whitesmoke;
        box-shadow:  none;
    }

</style>  

<div class="container">  
    <h1>Forgot your password?</h1>  
    <p>No problem, enter your email and we’ll send you instructions</p>  
    <form method="POST">  
        <label for="email">Email address</label>  
        <input type="email" id="email" name="email" required>  
        <input type="submit" value="Email me a reset link">  
    </form>  
    <a href="{{ url_for('auth.login') }}">Back to Login</a>  
</div>  
{% endblock %}
