{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Pay Reward for {{ found_report.item_name }}</h1>
    <form action="{{ url_for('report.pay_reward', found_report_id=found_report.id) }}" method="post">
        <div class="form-group">
            <label for="amount">Reward Amount:</label>
            <input type="number" id="amount" name="amount" step="0.01" required>
        </div>
        
        <div class="form-group">
            <label for="date_paid">Date Paid (YYYY-MM-DD):</label>
            <input type="text" id="date_paid" name="date_paid" class="form-control" placeholder="2024-07-02" required>
        </div>

        <button type="submit" class="btn">Pay Reward</button>
    </form>
</main>
{% endblock %}
