
{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{{ url_for('report.list_all_found_reports') }}" class="back-button" title="Back to Found Reports">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Receive Reward</h1>
    <form action="{{ url_for('report.receive_reward', found_report_id=found_report_id) }}" method="post">
        <div class="form-group">
            <label for="amount">Reward Amount:</label>
            <input type="text" id="amount" name="amount" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="date_paid">Date Paid (YYYY-MM-DD):</label>
            <input type="text" id="date_paid" name="date_paid" class="form-control" placeholder="2024-07-02" required>
        </div>
        
        <div class="form-group">
            <label for="payer_username">Payer Username:</label>
            <input type="text" id="payer_username" name="payer_username" class="form-control" required>
        </div>
        
        <button type="submit" class="btn">Receive Reward</button>
    </form>
</main>
<style>

</style>
{% endblock %}

