{% extends 'base.html' %}

{% block title %}Register as a User{% endblock %}

{% block content %}
<h2>Register User</h2>
<form action="{{ url_for('auth.register_user') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <br>
    <button type="submit">Register</button>
</form>
<p><a href="{{ url_for('auth.login_user') }}">Already have an account? Login here</a></p>
{% endblock %}
