{% extends 'base.html' %}

{% block title %}Register as an Admin{% endblock %}

{% block content %}
<h2>Register Admin</h2>
<form action="{{ url_for('auth.register_admin') }}" method="post">
    <label for="company_name">Company Name:</label>
    <input type="text" id="company_name" name="company_name" required>
    <br>
    <label for="company_type">Company Type:</label>
    <input type="text" id="company_type" name="company_type" required>
    <br>
    <label for="location_address">Location Address:</label>
    <input type="text" id="location_address" name="location_address" required>
    <br>
    <label for="phone_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number" required>
    <br>
    <label for="zip_code">Zip Code:</label>
    <input type="text" id="zip_code" name="zip_code" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <br>
    <button type="submit">Register</button>
</form>
<p><a href="{{ url_for('auth.login_admin') }}">Already have an account? Login here</a></p>
{% endblock %}
