{% extends "base.html" %}

{% block content %}
    <header>
        <a href="{{ url_for('admin.dashboard') }}" class="back-button" title="Admin Dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
            </svg>
        </a>
        <h4>User</h4>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('report.report_lost_item') }}">Submit Lost Report</a></li>
            <li><a href="{{ url_for('report.report_found_item') }}">Submit Found Report</a></li>
            <li><a href="{{ url_for('report.list_all_found_reports') }}">Found Reports</a></li>
            <li><a href="{{ url_for('report.list_all_lost_reports') }}">Lost Reports</a></li>   
            <li><a href="{{ url_for('report.view_my_rewards') }}">View My Rewards</a></li>
        </ul>
    </nav>
    <main>
        <!-- Content specific to each feature can be included here -->
    </main>
    <style>
         main {
        background-color: whitesmoke;
        box-shadow:  none;
    }
    </style>
{% endblock %}

