{% extends "base.html" %}

{% block content %}
    <header>
        <h3>Welcome, {{ current_user.username }}!</h3>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('report.report_lost_item') }}">Submit Lost Report</a></li>
            <li><a href="{{ url_for('report.report_found_item') }}">Submit Found Report</a></li>
            <li><a href="{{ url_for('report.list_all_found_reports') }}">Found Reports</a></li>
            <li><a href="{{ url_for('report.list_all_lost_reports') }}">Lost Reports</a></li>   
            <li><a href="{{ url_for('report.view_my_rewards') }}">View My Rewards</a></li>
        </ul>
    </nav>
    <main>
        <!-- Content specific to each feature can be included here -->
    </main>
{% endblock %}

