{% extends "base.html" %}

{% block content %}
<header>
    <h1>View Rewards</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Payer ID</th>
                <th>Payer Username</th>
                <th>Reward Amount</th>
                <th>Date Paid</th>
                <th>Receiver ID</th>
                <th>Receiver username</th>
            </tr>
        </thead>
        <tbody>
            {% for reward in rewards %}
            <tr>
                <td>{{ reward.payer_id}}</td>
                <td>{{ reward.payer_username}}</td>
                <td>{{ reward.amount }}</td>
                <td>{{ reward.date_offered }}</td>
                <td>{{ reward.date_paid}}</td>
                <td>{{ reward.receiver_id}}</td>
                <td>{{ reward.receiver_username}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
