{% extends "base.html" %}

{% block content %}
<header>
    <a href="{{ url_for('admin.dashboard') }}" class="back-button" title="Back to Dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Claims</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Report ID</th>
                <th>Claim reason</th>
            </tr>
        </thead>
        <tbody>
            {% for claim in claims %}
            <tr>
                <td>{{ claim.user_id }}</td>
                <td>{{ claim.found_report_id }}</td>
                <td>{{ claim.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<style>

</style>
{% endblock %}
