{% extends "base.html" %}

{% block content %}
<header>
    <h1>Claims</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Report ID</th>
                <th>Claim reason</th>
            </tr>
        </thead>
        <tbody>
            {% for claim in claims %}
            <tr>
                <td>{{ claim.user_id }}</td>
                <td>{{ claim.found_report_id }}</td>
                <td>{{ claim.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
