{% extends "base.html" %}

{% block content %}
<header>
    <a href="{{ url_for('admin.dashboard') }}" class="back-button" title="Back to Dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
    </a>
    <h1>Rewards</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Payer ID</th>
                <th>Payer Username</th>
                <th>Reward Amount</th>
                <th>Date Offered</th>
                <th>Date Paid</th>
                <th>Receiver ID</th>
                <th>Receiver username</th>
            </tr>
        </thead>
        <tbody>
            {% for reward in rewards %}
            <tr>
                <td>{{ reward.payer_id}}</td>
                <td>{{ reward.payer_username}}</td>
                <td>{{ reward.amount }}</td>
                <td>{{ reward.date_offered }}</td>
                <td>{{ reward.date_paid}}</td>
                <td>{{ reward.receiver_id}}</td>
                <td>{{ reward.receiver_username}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<style>
    
</style>
{% endblock %}
