{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>View Rewards</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Date Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for reward in rewards %}
            <tr>
                <td>{{ reward.id }}</td>
                <td>{{ reward.amount }}</td>
                <td>{{ reward.date_paid }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
