{% extends "base.html" %}

{% block content %}
<header>
    <h1>Lost Reports</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>What was lost</th>
                <th>Description</th>
                <th>Date Lost</th>
                <th>Place Lost</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for report in lost_reports %}
            <tr>
                <td>{{ report.item_id }}</td>
                <td>{{ report.item_name }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.date_lost }}</td>
                <td>{{ report.place_lost }}</td>
                <td>{{ report.contact }}</td>
                <td>
                    <form action="{{ url_for('admin.approve_lost_report', lost_report_id=report.id) }}" method="post">
                        <button type="submit">Approve</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}

